* {
	margin: 0px;
	padding: 0px;
}
body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
	font-size: 16px;
	line-height: 1.5em;
}
#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
}
#header {
	position: relative;
}
#header h1 {
	margin: 0;
	padding: 0;
}
#header h1 a {
	display: block;
	width: 100%;
	height: 200px; /* Adjust height to match image */
	background-image: url("../images/Assessment 3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
	overflow: hidden;
	white-space: nowrap;
}
#nav {
	background-color: #000;
}
#nav ul {
	list-style-type: none;
	margin-left: 10px;
}
#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}
#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}
#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}
#nav ul li a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#content {
	margin: 20px;
}
#content p {
	margin-top: 5px;
	margin-bottom: 15px;
}
.alert {
	background-color: #FFE5B4;
	color: #8B4513;
	padding: 10px;
	border-left: 4px solid #FF8C00;
}
#content h2 {
	color: #1E90FF;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 15px;
}
#content h3 {
	color: #FF8C00;
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 15px;
}
#content h4 {
	color: #FFD700;
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 10px;
}
.content-image {
	float: right;
	border: 2px solid #CCC;
	margin: 10px 0 10px 15px;
}
.favorite-link:hover {
	background-color: #FFE5B4;
}
#footer {
	background-color: #000;
	color: #FFF;
	padding: 15px 20px;
	text-align: center;
}
#footer p {
	margin: 0;
	font-size: 12px;
}
#footer a {
	color: #FFF;
	text-decoration: underline;
}
#footer a:hover {
	color: #CCC;
}
